.center {
    background: #f8f8f8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #e6e6e6;
  }

  .center:hover {
    cursor: pointer;
  }

  .pagination-input {
    border-radius: 5px;
    width: 25px;
    text-align: center;
    border: 1px solid lightgrey;
  }